.Login-box
{
   
    font-family: 'Times New Roman', Times, serif; 
    margin: auto;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    
   
}
h3
{
    font-weight: 500;
    font-size:30px;
}
.loginbtn
{
    width:100px;
    padding: 2 2 2 2;
    height:30px;
    border-radius: 10px;
    background-color: rgb(101, 101, 234);


}
.login-form
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap:10px;  
    text-align: center;
}